.header{
    background-color:black;
    height:60px;
    z-index:1;

}

.headerContent{
    font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Sans', sans-serif;
    color:white;
    font-size:30px;
    position:absolute;
    margin-left:150px;
    margin-top:8px;
}

.headerOptions{
    display:flex;
    flex-direction:row;
    width:70%;
    justify-content:space-between;
    position:absolute;
    margin-left:45rem;
    margin-top:10px;
    color:white;
}
.dropdowndiv{
    color:deeppink;
}

.dropdown-menu{
    padding-left:10px;
    font-size:15px;
    font-weight:400;
}

.button{
    border-radius:10px;
    background-color:darkorange;
    color:black;
    font-size:14px;
    font-weight:600;
}
.dropdownMenu{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    /*background-color:rgb(14,34,69);*/
}
.dropdownAnchorTag{
    color:white !important;
    font-size:15px;
    font-weight:600;
}
a:hover{
    color:darkorange  !important;
}